<!DOCTYPE html>
<html>
  <head>
    <title>Aleph</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<%= render 'shared/links' %>
  	<% if flash[:success].present? %>
  	  <p><strong><%= flash[:success] %></strong></p>
	  <% end %>
    <% if flash[:danger].present? %>
      <p><strong><%= flash[:danger] %></strong></p>
    <% end %>
    <%= yield %>
  </body>
</html>
